/*Цвета: 
rgb(33, 53, 31)
rgb(56, 96, 58)
rgb(104, 157, 109)
rgb(195, 218, 138)
rgb(179, 204, 174)
*/

body{
    margin: 1.4em;
    background-color: rgb(179, 204, 174, 0.5);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    font-size: medium;
    color:rgb(56, 96, 58);
    text-align: justify;
}

header{
    font-size: 2em;
    text-align: center;
}

section.Preface{
    padding: 1.5em 1.8em;
    margin: 0.7em;
    height: auto;
    overflow: auto;
    border-radius: 0.7em;
    box-shadow: 0 0 0.3em rgb(33, 53, 31);
    background-color: rgba(136, 167, 130, 0.1);

    text-align: center;
    font-family: Aboreto, monospace;
}

.Preface p{
    text-align: justify;
    letter-spacing: 0.1em;
    word-spacing: 0.2em;
}

.Preface h2{
    text-align: left;
    font-size: 0.7em;
    font-style: italic;
}

nav{
    padding: 5px 5px;
}

nav a{
    text-decoration: none;
    padding: 0.1em 0.3em 0em 0.3em;
    border-bottom: 0.3em solid rgba(228, 89, 182, 0.3);
    border-radius: 0.3em;
    background-color: rgba(228, 89, 182, 0.2);
    box-shadow: 0 0 0.3em rgba(32, 206, 46, 0.7);
}

section.MainInfo{
    padding: 1.5em 1.8em;
    margin: 0.7em;
    height: auto;
    overflow: auto;
    border-radius: 0.7em;
    box-shadow: 0 0 0.3em rgb(33, 53, 31);
    background-color: rgb(136, 167, 130, 0.1);

    font-size: 1em;
    font-family: Aboreto, monospace;
}

.MainInfo p{
    letter-spacing: 0.1em;
    word-spacing: 0.3em;
}

.Biografy{
    padding: 1.5em 1.8em;
    margin: 0.7em;
    height: auto;
    overflow: auto;
    border-radius: 0.7em;
    box-shadow: 0 0 0.3em rgb(33, 53, 31);
    background-color: rgb(136, 167, 130, 0.1);

    font-family: Aboreto, monospace;
}

.Biografy p{
    letter-spacing: 0.2em;
    word-spacing: 0.3em;
}

footer{
    padding: 0.7em 1.8em;
    margin: 0.7em;
    font-size: 60%;
}

img#avatar{
    height: 19em; 
    width: 14em;
    border-radius: 1em;
}




a:link{
    color: rgb(206, 145, 32);
}

a:visited{
    color: rgb(25, 110, 189);
}

a:hover{
    color: rgb(206, 88, 21);
    background-color: aliceblue;
}

p::first-letter{
    font-size: 1.8em;
    color: rgb(1, 41, 26);
}
